<% provide(:title, t(".about") )%>

<h1 class="center"><%= t ".about" %></h1>

<p> Aliquam suscipit interdum orci sit amet porttitor. Donec hendrerit
  pulvinar aliquet. Aenean vestibulum sapien eu diam ultricies in eleifend
  arcu fringilla. Sed id sodales dolor. Phasellus nibh risus, feugiat quis
  pellentesque ut, dapibus at est. Nulla sed diam ligula. Nam tincidunt
  condimentum nisl eu venenatis. Vestibulum neque felis, iaculis eget mollis
  a, lacinia quis justo. Donec nec neque sed nisl ullamcorper varius quis ut
  mi. Praesent euismod vulputate turpis tincidunt pulvinar. Vivamus at felis
  elit. Curabitur accumsan metus a diam pretium feugiat. Cras tristique
  bibendum odio, sit amet faucibus mauris ornare et. Nunc eu metus id purus
  venenatis iaculis in eget nisl. In hac habitasse platea dictumst. </p>