<% provide(:title, t(".rent"))%>

<h1 class="center"><%= t ".rent" %></h1>

<p>Nulla suscipit ultrices diam, sed molestie justo viverra sit amet.
  Donec sollicitudin, diam ut congue ornare, dui dolor feugiat lorem, vel
  tempus justo erat in risus. Nunc condimentum ullamcorper orci quis cursus.
  Fusce eu neque a elit congue euismod. Maecenas mattis commodo mollis.
  Nullam ultricies volutpat ipsum, ac lobortis nisi sodales ac. Nunc diam
  orci, scelerisque dapibus rhoncus sit amet, ullamcorper at mauris. Aliquam
  erat volutpat. Pellentesque at magna sed turpis tincidunt adipiscing.
  Aenean semper libero nec massa elementum luctus id a elit. Suspendisse eu
  leo arcu, sit amet auctor nunc. Cras suscipit vehicula feugiat.</p>

<%= link_to(t(".contact"), contact_path) %>