@import "bootstrap";

@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

$villaOrange: #FFA500;

$villaBrightBlue: #2F96B4;

$villaDarkBlue: #004151;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  /*background: #f9fdff;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

h1.center {
  margin-bottom: 10px;
}

.white-bg {
  background: #ffffff;
}

.container {
  width: 960px
}

/* Calendar Styles */

.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: .7em;
    padding: .2em;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 40px;
    vertical-align: top;
    font-size: 1em;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

h2.month {
  margin: 0;
  padding-bottom: 0px;
  text-align: center;
  font-size: 1.3em;
  text-align: center;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#calendar ul {
  font-size: 11px;
  padding-left: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

#errorExplanation {
  color:#B94A48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    color:#B94A48;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* header styles */
header {
  background-image: image-url('main_bg.gif');
  background-repeat: repeat-x;
  height: 136px;
  #lang {
    left: 500px;
    position: absolute;
    top: 50px;
  }
  .navbar-inner {
    background: none;
    box-shadow: none;
    padding-top: 95px;
    nav ul.nav li {
      font-size: 1.1em;
      padding: 0px;
      text-shadow: none;
      a {
      color: #ffffff;
      &:hover { color: $villaOrange; }
      }
    }
    nav ul.nav li.active a {
      background: none;
      color: $villaOrange;
      &:hover {
        background: none;
        color: $villaOrange;
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      margin-top: -70px;
      font-size: 1.7em;
      color: white;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
      line-height: 1;
    }
    #logo-villas {
      float: left;
      margin-left: 150px;
      margin-top: -60px;
    }
  }
}

/* Villa Customizations */

h2.villa-h2-bg {
  background-image: image-url('villa-h2-bg.gif');
  background-repeat: repeat-x;
  border: 1px solid #B9DAE2;
  color: $villaDarkBlue;
  height: 40px;
  text-align: center;
}

.villa-features {
  div.well {
    padding: 12px;
  }
  ul li {
    color: $villaDarkBlue;
    font-size: 14px;
    padding: 3px 0 3px 0;
  }
  .span1 {
    margin-left: 5px;
    padding: 3px 0 3px 0;
    width: 90px;
  }
}

.villas-index-list {
  padding: 10px 0 0 0;
  h3 {
    font-size: 24px;
    padding: 0 0 10px 0;
    a {
      color: $villaDarkBlue;
      &:hover {
        color: $villaBrightBlue;
        text-decoration: none;
      }
    }
  }
  h4 {
    color: $villaBrightBlue;
    padding: 0 0 10px 0;
  }
  ul.amenities-list-info {
    color: $villaDarkBlue;
    font-size: 16px;
    li {
      padding: 0 0 4px 0;
    }
  }
}

.villa-form {
  width: 100%;
  label {
    padding: 0 10px 0 0;
  }
  .cat-check, .rad-check {
    height: 15px;
    padding: 0 0 0 20px;
    width: 150px;
  }
  input[type="checkbox"], input[type="radio"] {
    clear: left;
    display: block;
    float: left;
  }
  input[type="file"] {
    padding: 0 0 10px 150px;
  }
  textarea {
    width: 70%;
  }
}

p.meta {
  color: $villaOrange;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  a {
    color: $villaOrange;
  }
}

/* gmaps4rails bootstrap overrides */
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

/*Costa Tropical Customizations*/
.costa-description {
  font-size: 16px;
  padding: 5px 0 20px 0;
}

dl.costa {
  font-size: 24px;
  font-weight: 200;
  dd {
    color: $villaBrightBlue;
    padding: 5px 0 15px 0;
  }
  dt{
    padding: 10px 0 5px 0;
  }
}

/* Contact Form Changes */

form.contact-form {
  margin: 0 auto;
  padding: 15px;
  width: 530px;
}

/* homepage styles */
body.homepage {
  background-image: image-url('beach.jpg');
}
.pics {
  height:  291px;
  width:   910px;
  padding: 0;
  margin:  0 auto;
   img {
    border:  1px solid #ccc;
    width:  900px;
    height: 279px;
    top:  0;
    left: 0
   }
}

.home-thumb > li {
  margin-left: 10px;
}

/* about styles */
.valores {
  text-transform: uppercase;
}

img.about-img {
  padding-bottom: 30px;
}

/* contact styles */
.contact-bg {
  background: #f9fdff;
  border: 1px solid #dcdcdc;
}

h4.contact-add {
  padding-top: 15px;
  text-transform: uppercase;
}

.thumb-contact {
  padding-top: 20px;
}

.thumb-img-contact {
  width: 96%;
}



/* footer */

footer {
  background: $villaDarkBlue;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: #ffffff;
    &:hover {
      color: $gray;
    }
  }
  small {
    clear: left;
    color: #DCDCDC;
    display: block;
    padding: 0 0 20px 0;
  }
  #footer-logo {
    float: right;
  }
}

/* Misc Styles */

.orangeText {
  color: $villaOrange;
}

.brightBlueText {
  color: $villaBrightBlue;
}

.darkBlueText {
  color: $villaDarkBlue;
}

.clear {
  clear: both;
}

