@import "bootstrap";

/* @import "bootstrap-responsive";  */

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

$villaOrange: #FFA500;

$villaBrightBlue: #2F96B4;

$villaDarkBlue: #004151;

$villaBorderBlue: #79bbcb;

$villaBgBlue: #dbf7f8;

$darkGold: #977b32;

$homeTitleBlue: #397d88;

$infoColorBtn: #2F96B4;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  height: 100%;
}

body {
  /*background: #f9fdff;*/
  height: 100%;
  margin: -10px 0 0 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
  overflow: hidden;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

h1.center {
  margin-bottom: 10px;
}

.white-bg {
  background: #ffffff;
}

.container {
  width: 960px;
}

/* Calendar Styles */

.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: .7em;
    padding: .2em;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 40px;
    vertical-align: top;
    font-size: 1em;
  }

  .notmonth, .notmonth a {
    background: #ffffff !important;
    color: #CCC !important;
  }
  .today { background-color: #D7F2FF; }
  .reserved {
    background-color: #8b0000;
    color: #ffffff;
  }
}

h2.month {
  margin: 0;
  padding-bottom: 0px;
  text-align: center;
  font-size: 1.3em;
  text-align: center;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#calendar ul {
  font-size: 11px;
  padding-left: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
  @include box_sizing;
}

#errorExplanation {
  color:#B94A48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    color:#B94A48;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* header styles */
header {
  background-image: image-url('main_bg.gif');
  background-repeat: repeat-x;
  height: 136px;
  .navbar-inner {
    background: none;
    box-shadow: none;
    padding-top: 95px;
    #lang {;
      margin-left: 400px;
      position: relative;
      top: -50px;
      ul {
        list-style-type: none;
      }
      li {
        float: left;
        list-style-type: none;
        padding: 5px;
      }
    }
    nav ul.nav {
      margin-top: -35px;
      li {
        font-size: 1.1em;
        padding: 0px;
        text-shadow: none;
        a {
          color: #ffffff;
          &:hover { color: $villaOrange; }
        }
      }
    }
    nav ul.nav li.active a {
      background: none;
      color: $villaOrange;
      &:hover {
        background: none;
        color: $villaOrange;
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      margin-top: -70px;
      font-size: 1.7em;
      color: white;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
      line-height: 1;
    }
    #logo-villas {
      float: left;
      margin-left: 150px;
      margin-top: -60px;
    }
  }
}

/* Villa Customizations */

h1.villa-h1-bg {
  background-color: #dcf5fc;
  /*background-image: image-url('villa-h2-bg.gif');
  background-repeat: repeat-x;*/
  border-left: 1px solid #00738e;
  border-right: 1px solid #00738e;
  border-top: 1px solid #00738e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $villaDarkBlue;
  font-weight: normal;
  height: 40px;
  padding: 0 0 0 10px;
  text-align: left;
}

/* for villa edit form */
.villa-form {
  width: 100%;
  h3 {
    color: $villaDarkBlue;
    font-size: 22px;
    font-weight: normal;
    padding: 20px 0 10px 0;
  }
  label {
    font-weight: bold;
    padding: 0 10px 0 0;
  }
  .rad-check {
    font-weight: normal;
    height: 15px;
    padding: 0 0 0 20px;
    width: 150px;
  }
  .cat-check {
    margin-left: 5px;
  }
  input[type="checkbox"].tag-remove {
    clear: none;
    float: left;
    margin: 8px 0 0 5px;
  }
  input.tag-input {
    display: block;
    float: left;
  }
  .cat-text-field {
    display: block;
    margin: 5px 0;
  }
  .control-group {
    .width50 {
      font-weight: normal;
      width: 60px;
    }
    .control-lable {
     width: 100px;
    }
    .rates-form {
      margin: 0 0 0 80px;
      .rates-partial {
        border: 1px solid $villaDarkBlue;
        color: $villaDarkBlue;
        clear: both;
        margin: 10px;
        padding: 10px;
        width: 600px;
        .lead {
          margin-bottom: 3px;
        }
        .price-form {
          clear: both;
          padding: 5px;
          label {
            float: left;
            font-weight: normal;
            width: 150px;
          }
          input {
            float: left;
          }
        }
        .rate-destroy {
          margin: -25px 0 0 420px;
          input[type="checkbox"]{
            margin: -45px 0 0 -20px;
          }
        }
      }
    }
  }
  .ckeditor {
    .controls {
      margin-left: 0;
    }
  }
  input[type="checkbox"], input[type="radio"] {
    clear: left;
    display: block;
    float: left;
  }
  input[type="file"] {
    padding: 0 0 10px 150px;
  }
  textarea {
    width: 70%;
  }
}

.villa-show {
  border: 1px solid #00738e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 15px;
  padding: 0 0 0 10px;
  .nav-villa {
    margin: 10px;
    li.active a {
      background-color: $infoColorBtn;
      color: #fff;
    }
    a {
      color: $infoColorBtn;
    }
    #overview {
      margin-left: 10px;
    }
  }
  .villa-features {
    div.well {
      padding: 12px;
    }
    ul li {
      color: $villaDarkBlue;
      font-size: 14px;
      padding: 3px 0 3px 0;
    }
    .span1 {
      margin-left: 5px;
      padding: 3px 0 3px 0;
      width: 90px;
    }
  }
  hr {
    margin-right: 10px;
  }
}

.villas-index-list {
  padding: 10px 0 0 0;
  h3 {
    font-size: 24px;
    padding: 0 0 10px 0;
    a {
      color: $villaDarkBlue;
      &:hover {
        color: $villaBrightBlue;
        text-decoration: none;
      }
    }
  }
  h4 {
    color: $villaBrightBlue;
    padding: 0 0 10px 0;
  }
  ul.amenities-list-info {
    color: $villaDarkBlue;
    font-size: 16px;
    li {
      padding: 0 0 4px 0;
    }
  }
}
.map_container {
  height: 500px;
  width: 525px;
}

p.meta {
  color: $villaOrange;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  a {
    color: $villaOrange;
  }
}



/* gmaps4rails bootstrap overrides */
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

/*Costa Tropical Customizations*/
.costa-description {
  font-size: 16px;
  padding: 5px 0 20px 0;
}

dl.costa {
  font-size: 24px;
  font-weight: 200;
  dd {
    color: $villaBrightBlue;
    padding: 5px 0 15px 0;
  }
  dt{
    padding: 10px 0 5px 0;
  }
}

/* Contact Form Changes */

form.contact-form {
  margin: 0 auto;
  padding: 15px;
  width: 530px;
}

.contact-villa-form {
  background: #F7F7F8;
  border: 1px solid #999;
  border-radius: 10px;
  color: #999;
  margin: 0 auto;
  padding: 15px;
  h3 {
    color: $infoColorBtn;
    font-weight: normal;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  form.form-horizontal {
    color: #999;
    .control-group {
      label{
        color: #666;
        text-align: left;
        width: 70px;
      }
      .controls {
        margin-left: 80px;
        input, textarea {
          width: 255px;
        }
      }
    }
  }
}

/* homepage styles */
body.homepage {
  background-image: image-url('beach.jpg');
  background-position: center 126px;
  background-repeat: no-repeat;
}
.pics {
  height:  280px;
  width:   960px;
  padding: 0;
  margin:  0 auto;
  overflow: hidden;
   img {
    width:  960px;
    height: 280px;
    top:  0;
    left: 0
   }
}
#banner {
  margin-top: -30px;
  padding: 0 0 40px 10px;
  position: relative;
  z-index: 4000;
  a {
    background: #ffffff;
    color: #ffffff;
    display: block;
    height: 12px;
    float: left;
    font-size: 2px;
    margin: 3px;
    opacity: .7;
    width: 12px;
    &:hover {
      text-decoration: none;
    }
  }
}

.home-special {
  height:  230px;
  width:   960px;
  padding: 0;
  margin:  0 auto;
  img {
    width:  960px;
    height: 230px;
    top:  0;
    left: 0
  }
}

.featured-villas {
  background: #ffffff;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
  h2 {
    color: $villaBrightBlue;
    font-weight: normal;
    margin-right: 10px;
  }
  a {
    color: $darkGold;
    display: block;
    font-size: 18px;
    margin-top: 11px;
  }
}

.home-thumb {
  background: $villaBgBlue;
  border: 1px solid $villaBorderBlue;
  border-radius: 0px 0px 4px 4px;
  padding-top: 10px;
  ul.thumbnails {
    width: 100%;
  }
  li {
    margin-left: 10px;
    li {
      margin-left: 0px;
    }
    .thumbnail {
      background: #ffffff;
      border: 1px solid $villaBorderBlue;
    }
  }
}

.services-wrap {
  background: $villaBgBlue;
  border: 1px solid $villaBorderBlue;
  border-radius: 0px 0px 4px 4px;
  padding: 10px 9px 10px 10px;
  .breadcrumb {
    background: none;
    border: none;
    box-shadow: none;
    color: $villaBorderBlue;
    font-size: 14px;
    padding: 0px;
    a {
      color: $villaBrightBlue;
    }
  }
}

.car-rental {
  margin-left: 10px;
  margin-top: -55px;
}

.special {
  margin-top: 15px;
  text-align: center;
}

/* about styles */
.valores {
  text-transform: uppercase;
}

img.about-img {
  padding-bottom: 30px;
}

/* contact styles */
.contact-bg {
  background: #f9fdff;
  border: 1px solid #dcdcdc;
}

h4.contact-add {
  padding-top: 15px;
  text-transform: uppercase;
}

.thumb-contact {
  margin: 10px 0 0 0;
  padding: 20px 2px 0 0;
  li {
      width: 300px;
  }
}

.thumb-img-contact {
  text-align: center;
  width: 280px;
}

#push {
  clear: both;
  height: 110px;
}

/* Destination styles */
.destination-show {
  background: #ffffff;
  border: 1px solid $infoColorBtn;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  img.dest-img {
    height: 200px;
    width: 960px;
  }
  .page-header {
    margin-right: 15px;
    h1 {
      color: $infoColorBtn;
      font-weight: normal;
    }
  }
  .dest-content {
    padding: 0 15px 15px 0;
  }
  .map_container {
    clear: both;
    height: 200px;
    width: 905px;
    #map {
      .gmaps4rails_map {
        height: 200px;
        width: 900px;
      }
    }
  }
  .dest-info-links {
    clear: both;
    .span6 {
      margin-bottom: 15px;
      .lead {
        color: $infoColorBtn;
        margin-bottom: 0px;
      }
      li a {
        color: $darkGold;
        font-size: 14px;
      }
      .btn-info {
        color: #ffffff;
        margin: 5px;
      }
    }
  }
  .bottom-pics {
    margin-left: 5px;
    .span4 {
      margin: 10px 0 0 10px;
    }
  }
}

.destination-index {
  h1 {
    color: $villaDarkBlue;
    margin-bottom: 15px;
  }
  ul.thumbnails {
    .thumbnail {
      background: #ffffff;
      border: 1px solid $villaBrightBlue;
      padding: 10px;
      img.thumbnail {
        border: 1px solid #dddddd;
        padding: 2px;
        width: 98%;
      }
      h2 {
        color: $homeTitleBlue;
        font-weight: normal;
        a {
          color: $homeTitleBlue;
        }
      }
      .destination-show-link {
        background: #DCF5FC;
        border: 1px solid #00738E;
        border-radius: 10px;
        padding: 5px;
        li {
          padding: 3px 3px 3px 6px;
          a {
            color: $darkGold;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* footer */

footer {
  background: $villaDarkBlue;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  height: 110px;
  a {
    color: #ffffff;
    &:hover {
      color: $gray;
    }
  }
  small {
    clear: left;
    color: #DCDCDC;
    display: block;
    padding: 0 0 20px 0;
  }
  #footer-logo {
    float: right;
  }
  .nav-footer{
    clear: left;
    display: block;
  }
}

/* Misc Styles */

.orangeText {
  color: $villaOrange;
}

.brightBlueText {
  color: $villaBrightBlue;
}

.darkBlueText {
  color: $villaDarkBlue;
}

.clear {
  clear: both;
}

.no-left-margin {
  margin-left: 0px;
}

