@import "bootstrap";

@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

h1.center {
  margin-bottom: 10px;
}

/* Calendar Styles */
#calendar {
  margin: 0 auto;
  padding: 10px;
  width: 500px;
}

#calendar .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#caledar #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#calendar ul {
  font-size: 11px;
  padding-left: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

#errorExplanation {
  color:#B94A48;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    color:#B94A48;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* header styles */
header {
  background-image: image-url('main_bg.gif');
  background-repeat: repeat-x;
  height: 136px;
  .navbar-inner {
    background: none;
    box-shadow: none;
    padding-top: 95px;
    nav ul.nav li {
      font-size: 1.1em;
      a {
      color: #ffffff;
      &:hover { color: #FFA500; }
      }
    }
    nav ul.nav li.active a {
      background: none;
      color: #FFA500;
      &:hover {
        background: none;
        color: #FFA500;
      }
    }
    #logo {
      float: left;
      margin-right: 10px;
      margin-top: -70px;
      font-size: 1.7em;
      color: white;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
      line-height: 1;
    }
    #logo-villas {
      float: left;
      margin-left: 150px;
      margin-top: -60px;
    }
  }
}

/* Villa Page Customizations */

h2.villa-h2-bg {
  background-image: image-url('villa-h2-bg.gif');
  background-repeat: repeat-x;
  border: 1px solid #B9DAE2;
  color: #004151;
  height: 40px;
  text-align: center;
}

/* Villa Index Customizations */
.villas-index-list {
  padding: 10px 0 0 0;
  h3 {
    font-size: 24px;
    padding: 0 0 10px 0;
    a {
      color: #004151;
      &:hover {
        color: #2F96B4;
        text-decoration: none;
      }
    }
  }
  h4 {
    color: #2F96B4;
    padding: 0 0 10px 0;
  }
}

.villa-form {
  width: 100%;
  label {
    padding: 0 10px 0 0;
  }
  .cat-check {
    padding: 0 0 0 20px;
    width: 150px;
  }
  input[type="checkbox"] {
    display: block;
    float: left;
  }
  input[type="file"] {
    padding: 0 0 10px 150px;
  }
  textarea {
    width: 70%;
  }
}

p.meta {
  color: #FFA500;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

/* gmaps4rails bootstrap overrides */
#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

/*Costa Tropical Customizations*/
.costa-description {
  font-size: 16px;
  padding: 5px 0 20px 0;
}

dl.costa {
  font-size: 24px;
  font-weight: 200;
  dd {
    color: #2F96B4;
    padding: 5px 0 15px 0;
  }
  dt{
    padding: 10px 0 5px 0;
  }
}

/* Contact Form Changes */

form.contact-form {
  margin: 0 auto;
  padding: 15px;
  width: 530px;
}


/* footer */

footer {
  background: #004151;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: #ffffff;
    &:hover {
      color: $gray;
    }
  }
  small {
    clear: left;
    color: #DCDCDC;
    display: block;
    padding: 0 0 20px 0;
  }
  #footer-logo {
    float: right;
  }
}


